* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

header {
    height: 70vh;
    background-color: #129799;
}


.header-icon {
    width: 30px;
    height: 30px;
    background-image: url( icons8-hand-cursor-32\ 1.png);
}

nav ul li {
    margin-right: 3rem;
    list-style: none;
}

nav ul li:hover {
    color: white;
    font-weight: bolder;
}

.header-list {
    display: flex;
    justify-content: center;
    padding: 1rem;
    list-style: none;
}

.header-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-text {
    font-size: 64px;
}

.header-photo {
    width: 640px;
}

.second-list {
    display: flex;
    justify-content: center;
}

main {
    height: 175vh;
    background-color: #FFA185;
}

.main-box {
    padding: 3rem;
    width: 80rem;
}

.main-paragraph {
    color: black;
    font-size: 30px;
    margin-top: 2rem;
}

.main-photo {
    display: flex;
}

.main-gallery {
    margin: 1rem;
}

.main-end {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.end-paragraph {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

footer {
    width: 98.75vw;
    background-color: #129799;
    display: flex;
    justify-content: space-around;
}

.section-photo {
    padding: 5rem;
    display: flex;
}

.footer-photo {
    width: 39px;
    margin-right: 1rem;
}

.footer-list {
    display: flex;
    padding: 5rem;
}
