* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    height: 77%;
    width: 100%;
    background-color: #129799;
    color: white;
}

.header-list {
    padding: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
}
@media(max-width: 768px) {
    .header-list {
        flex-direction: column;
    }
}

li {
    margin-right: 2rem;
    font-size: 1.75vw;
    cursor: pointer;
}
@media(max-width: 768px) {
    li {
        font-size: 2.25vw;
    }
}

 li:hover {
    font-weight: bolder; 
}

.header-conteiner {
    width: 100vw;
    display: flex;
    align-items: center;
}
@media(max-width: 768px) {
    .header-conteiner {
        justify-content: center;
        position: relative;
        right: 3vw;
    }
}

.header-paragraph {
    margin-left: 2rem;
    font-size: 4.5vw;
}
@media(max-width: 768px) {
    .header-paragraph {
        margin: 0;
        font-size: 3.75vw;
    }
}

.header-image {
    width: 50%;
}

main {
    height: 160vh;
    width: 100%;
    background-color: #FFA185;
}
@media(max-width: 768px) {
    main {
        height: 140vw;
    }
}

h1 {
    padding: 1vw;
    width: 17vw;
    text-align: end;
    font-size: 2.75vw;
}

.main-paragraph {
    width: 85vw;
    padding: 3vw;
    font-size: 2vw;
    color: black;
}

.conteiner-images {
    display: flex;
    justify-content: center;
}
@media(max-width: 768px) {
    .conteiner-images {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.main-image {
    width: 47%;
    padding: 1vw;
}

footer {
    height: 25vh;
    width: 100%;
    background-color: #129799;
}
@media(max-width: 768px) {
    footer, .icons-conteiner, .footer-list {
        height: 30vh;
    }
}

.footer-conteiner {
    height: 25vh;
    display: flex;
    justify-content: space-around;
}
@media(max-width: 768px) {
    .footer-conteiner {
        height: 30vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.icons-conteiner {
    height: 25vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-image {
    width: 12%;
    padding: 1vw;
    cursor: pointer;
}

.footer-list {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
